<html lang="en">
    <%- include('./partials/style.ejs') %>
    <%- include('./partials/head.ejs') %>
    <body>
        <%- include('./partials/nav.ejs') %>
        <h1>about page</h1>
        <h2>Events About Page</h2>
    </body>
    <%- include('./partials/foot.ejs') %>
</html>