<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/style.ejs') %>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FullStack JavaScript Qap3</title>
</head>

<body>
    <%- include('./partials/nav.ejs') %>
    <h1>Welcome to the Events Home Page</h1>

  <!-- Add more content as needed -->

</body>

</html>
